<footer class="container-footer">
  <div class = "site-footer">

  <div class = "icon-footer">
    <a target="_blank" href = "https://www.instagram.com/hitakashi_beats/">
      <i class="bi bi-envelope"></i>
    </a>
  </div>

  <div class = "icon-footer">
    <a target="_blank" href = "https://www.instagram.com/hitakashi_beats/">
      <i class="bi bi-instagram"></i>
    </a>
  </div>
  </div>
  <br>
  <p>© 2023 Hitakashi Beats. All rights reserved.</p>
</footer>