---
title: Hitakashi Beats -Contacto-
layout: 'base.njk'
---

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<br>
<br>
<br>
<br>


<div class = "contact-title"> Contacto </div>
<section class = "contact">

    <div class = "content">
        <p>Para más información contáctanos o rellena tus datos</p>
    </div>
    
    <div class = "container-contact">
        
        <div class = "contactForm">
            <form action="https://formsubmit.co/jofrix98@gmail.com" method="POST">
                <h2>Ingresa tus datos</h2>

                <div class = "inputBox">
                    <input type = "text" name = "name" id = "name" required = "required">
                    <span>Nombre y Apellidos</span>
                </div>

                <div class = "inputBox">
                    <input type = "text" name = "email" id = "email" required = "required">
                    <span>Correo Electrónico</span>
                </div>

                <div class = "inputBox">
                    <textarea name = "coments" required = "required" id = "coments"></textarea>
                    <span>Escribe tu mensaje...</span>
                </div>

                <br>

                <label>
                    <p>Aceptar
                    <a href = "/Terminos&Condiciones"> Terminos & Condiciones</a>
                    <input type="checkbox" id = "cbox1" required = "required">
                    </p>
                </label>
                
                <br>

                <div class = "inputBox">
                    <input type="submit" name="" value="Envia">
                </div>

                <input type="hidden" name="_next" value="http://localhost:8080/contact/">

                <input type="hidden" name="_captcha" value="false">

            </form>
        </div>
    </div>
</section>
